<h1>Editing settlement</h1>

<%= render "form", settlement: @settlement %>

<br>

<div>
  <%= link_to "Show this settlement", @settlement %> |
  <%= link_to "Back to settlements", settlements_path %>
</div>
