<div class="groups-container">
<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to group, class:'group-links' do %>
      <%= render group %>
    <% end %>
  <% end %>
</div>
<div class="add-group">
  <%= link_to "Add New Category", new_group_path, class:'sign-up-2' %>
</div>
</div>